html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100%;
}

h4 {
    font-size: 28px;
}

.row {
    margin: 0;
    /* No space between rows and their content */
}

.label {
    font-size: 14px;
    /* Setting bootstrap label to suit fontsize of the page */
}

#helpSection {
    height: 120px;

    margin: 5px;
    margin-top: 20px;
}

.row .col {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* Container Media Settings*/

@media only screen and (min-width: 0px) {
    /* 601 */
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}


ul li a:hover {
    text-decoration: none !important;
    color: white;
}

body {
    background-color: #F1F1F1 !important;

}

#logo-container {
    color: white !important;
}

header {
    background-color: #212121 !important
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: white !important;
    padding-bottom: 5px;
    font-size: 2.2rem !important;
    line-height: 110%;

}

p {
    color: black;
}


#slider-container {

    padding: 0px;

}



#slider {
    display: block;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.showing {
    opacity: 1;
    z-index: 2;
}

ul li img {
    position: absolute;
}

ul.slider {
    list-style-type: none;
    padding: 0;
}

#resa {
    height: 440px;
    margin: 10px;
    margin-bottom: 30px;
}

#map-container {
    height: 100%;
    margin-top: 35px;
    margin-bottom: 30px;
}

#map {
    height: 100%;
    width: 100%;
}



#canvas {
    border: 1px solid grey;
}

#tableauDonees {
    margin-top: 35px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    background-color: white;
    height: 100%;
    margin-bottom: 30px;
}

table th {
    color: rgb(33, 33, 33);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 10px 0 10px 20px;
    text-align: left;
}

#navigation {
    color: white;
}

#navigation :hover {
    color: #E11F26 !important;
}

#formResa {
    display: none;
    margin-top: 35px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-bottom: 30px;
}

#votre-reservation p {

    color: white !important;

}

.darken-4 {
    margin-top: 350px !important;
    color: white;

}

#btnresa {
    margin-top: 7px;
    margin-bottom: 12px;
    background-color: #212121;
    !important;
}

#reset {
    margin-top: 8px;
    margin-bottom: 20px;
    background-color: #212121;
    !important;
}

#save {
    margin-top: 8px;
    margin-bottom: 20px;
    background-color: #212121;
    !important;
}

#button-annuler {
    margin-top: 8px;
    margin-bottom: 20px;
    background-color: #E10203;
    color: white;
}

#btnmodal {
    margin-top: 7px;
    margin-bottom: 12px;
    background-color: #212121;
    !important;
}

#messageClear {
    display: none;
}

#slider-container {
    position: relative;
    padding: 0px;
    margin: 0px;
    !important;
    background-color: white;
}

#control-container {
    position: absolute;
    padding: 0px;
    margin: 0px;
    bottom: 20px;
    right: 50px;
    z-index: 20;
}

#slider {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100% !important;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.slide img {
    max-width: 80%;
    height: auto;
    margin-left: 100px;
    margin-top: -2px;
    z-index: 2;

}

.showing {
    opacity: 1;
    z-index: 2;
}

.container {
    width: 100% !important;
    height: 80% !important;
}

#confirmation {
    display: none;
    color: darkolivegreen;
    background-color: forestgreen;
    border: 1px solid green;

}

#votre-reservation {
    background-color: black !important;
    color: white;
    display: table-row;
    height: 100px;
    /* à titre d'exemple */
}

#fleche_gauche {

    position: absolute;

    top: 50%;

    background-color: rgba(0, 0, 0, 0.3);
    /* border-radius: 50%;*/
    font-size: 1em;
    color: white;

    border-radius: 0px 40px 40px 0px;
    /* demi cercle */
    z-index: 20;


}

#fleche_droite {
    position: absolute;
    right: 0%;
    top: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    font-size: 1em;
    color: white;
    border-radius: 40px 0px 0px 40px;
    z-index: 20;
}

#timeline {
    position: absolute;
    background: #999;
    bottom: 15px;
    left: 15px;
    height: 1px;
    background: rgb(214, 98, 13);
    background: rgba(214, 98, 13, .8);
    width: 0;
    /* fonction d'animation */
    animation: timeliner 32s infinite;
    z-index: 22;
}
